.sigmar-regular {
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }
  .grechen-fuemen-regular {
    font-family: "Grechen Fuemen", serif;
    font-weight: 400;
    font-style: normal;
  }
    
  h1 {
    font-size: 60px;
    text-align: center;
    /*background-color:#c8bfb2;*/
  }
 html {
    background-color: aqua;
  }
  body {
    width: 600px;
    margin: 0auto;
    background-color: #c8bfb2;
    padding: 0 20px 20px;
    border: 5px solid black;
  }
  h1{
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
  }
  img{
    display: block;
    margin: 0 auto;
  }